@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans|Playfair+Display');


.itxsl-container {
  height: 360px;
  width: 100%;
  position: relative;
  display: block;
  background: #ffffff;
  overflow: hidden;
}

.itxsl-container UL {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.itxsl-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('http://paralotniarz.com.pl/sites/all/themes/stormy/images/grid-overlay.png');
  z-index:10;
}

.itxsl-slide {
  display: block;
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.itxsl-slide .itxsl-slide-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:0px;
  opacity: 0;
  background-size: cover!important;
  background-repeat: no-repeat!important;

}

.zoomin {
  transition-duration: 6s;
  transform: scale(1.1);
}

.itxsl-slide .itxsl-slide-text {
  
  position: absolute;
  width: 100%;
  top:50%;
  transform: translate(0,-50%);
  opacity: 0;
  transition-duration: 1s;
  
}

.itxsl-slide .itxsl-slide-text H1 {
  
  text-align: center;
  color: white;

  font-family: 'Lato', sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

.itxsl-slide .itxsl-slide-text HR {
  display: block;
  width: 25%;
  max-width: 200px;
  height: 0px;
  border: 1px solid #ffffff;
}

.itxsl-slide .itxsl-slide-text P {
  display: block;
  width: 50%;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-family: "Playfair Display";
}


.itxsl-slide-active .itxsl-slide-background {
  top:0px;
  left:0px;
  opacity:1;
  transition: opacity 0s ease-out, transform 6s;
  transform: scale(1);
  z-index: 8;
}

.itxsl-slide-active .itxsl-slide-text {
  opacity:1;
  z-index: 11;
}

.itxsl-slide-active SPAN {
}

.itxsl-slide-old .itxsl-slide-background {
  transition-property: opacity, transform;
  transition-duration: 2s, 2s;

  opacity:0;
  transform: scale(1.1);

  z-index:9;
}

.itxsl-slide-old .itxsl-slide-text {
  opacity:0;
  z-index:12;
}




.upload_image {
  width: 200px;
  height: auto;
}


DIV.fs-preview-container {
  display: block;
  width: 50%;
  padding-bottom: 15%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

DIV.fs-preview {
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  display: block;
  width: 100%;
  height: 100%;
  background: #dedede;
}

DIV.fs-inputs {
  display: block;
  width:50%;
  margin: 0 auto;
}

/**
 * Page Builder Admin CSS
**/

#fx-page-builder{
    margin: 20px 0;
}

.itxsl-admin-sliders-active {
  padding-bottom: 10px;
}

/* Rows */
.itxsl-admin-sliders-group{
  position: relative;
  min-height: 200px;
  background: #fafafa;
  border: 2px dotted #eee;
}

.itxsl-admin-sliders-group:after
{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}

.itxsl-admin-rows-message{
    border: 2px dashed #ccc;
    padding: 10px 20px;
    text-align: center;
}
/* Buttons */
.itxsl-admin-actions{
    margin-bottom: 30px;
}
/* Row */
.itxsl-admin-row{
    position: relative;
    font-size: 16px;
    border: 1px solid #ccc;
    background: #fff;
    margin: 2px;
    width: 200px;
    float: left;
}

.itxsl-admin-box-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #dadada;
}



#poststuff .itxsl-admin-row-title{
  display: block;
  margin: 0px auto;
  padding: 0px;
  border-bottom: 1px solid #ccc;
}

.itxsl-admin-row-title A {
  text-decoration: none;
  color: inherit;
}
#poststuff .itxsl-admin-row-title:after{
    content:".";display:block;height:0;clear:both;visibility:hidden;
}
.itxsl-admin-handle{
    padding: 10px;
    border-right: 1px solid #ccc;
    cursor: move;
}

.itxsl-admin-edit{
    padding: 10px;
    border-left; 1px solid #ccc;
    float: right;
    cursor: pointer;
}
#poststuff .itxsl-admin-row-title-text{
    padding: 10px;
    display: inline-block;
}

.itxsl-admin-row-background {
  height: 150px;
  background-size: contain;
  background-position: center;
}
.itxsl-admin-remove{
    padding: 10px;
    border-left: 1px solid #ccc;
    float: right;
    cursor: pointer;
}
.itxsl-admin-remove:hover{
    background: red;
    color: #fff;
}
.itxsl-admin-row-fields{
    border-top: 1px solid #ccc;
    padding: 10px;
}
.itxsl-admin-row-fields:after{
    content:".";display:block;height:0;clear:both;visibility:hidden;
}
.itxsl-admin-row-fields textarea{
    width: 100%;
    height: 100px;
}

/* Templates */
.itxsl-admin-templates{
    display: none;
}